{% extends 'base.html.twig' %}

{# Portfolio ~ Webdeval #}
{% block title 'Portfolio' %}

{% block body %}
    {# portfolio page #}
    <main class="portfolio">
        {# Banner #}
        <header role="banner" id="home" class="portfolio-banner"></header>

        {# Intro #}
        <section id="intro" class="intro">
            <div class="container">
                <h2 class="intro-title">
                    À propos
                </h2>

                <div class="intro-block">
                    <img src="{{ asset('assets/img/desktop/avatar/intro.jpg') }}" alt="À propos" class="intro-img">
                    <div class="intro-mask"></div>
                </div>

                <p class="intro-paragraph">
                    Salut, moi c'est Valentin. Passionné par les nouvelles technologies, j'ai tracé ma route dans le web
                    développement – et le design à mes heures perdues – pour en arriver ici. Spécialisé dans le
                    <span lang="en" translate="no">front-end</span>, je développe des sites modernes et adaptatifs pour
                    des petits et gros projets. J'ai une sérieuse fascination pour les effets UI, les animations ainsi
                    que la création d'expériences utilisateur intuitive et dynamique. En dehors de la programmation,
                    on peut me trouver en train d'écrire, faire du jeu de rôle, voyager ou refaire le Monde entr'amis.
                </p>
            </div>
        </section>

        {# Separator #}
        <div class="container">
            <hr class="separator">
        </div>

        {# Skills #}
        <section id="skills" class="skills">
            <div class="container">
                <h2 class="skills-title">
                    Ce que j'ai appris
                </h2>

                <div class="skills-block">
                    <div class="skills-absolute">
                        <div id="particles" class="skills-margin">
                            <div class="skills-section">
                                <h3 class="skills-subtitle">Langages</h3>
                                <ul class="skills-list">
                                    <li class="skills-item">JavaScript ES6</li>
                                    <li class="skills-item">CSS 3 / SCSS</li>
                                    <li class="skills-item">HTML 5</li>
                                    <li class="skills-item">mySQL</li>
                                    <li class="skills-item">PHP 7</li>
                                </ul>
                            </div>

                            <div class="skills-section">
                                <h3 class="skills-subtitle">Frameworks</h3>
                                <ul class="skills-list">
                                    <li class="skills-item">Bootstrap 4</li>
                                    <li class="skills-item">Symfony 4</li>
                                    <li class="skills-item">jQuery 3</li>
                                </ul>
                            </div>

                            <div class="skills-section">
                                <h3 class="skills-subtitle">Outils</h3>
                                <ul class="skills-list">
                                    <li class="skills-item">PhotoShop</li>
                                    <li class="skills-item">Composer</li>
                                    <li class="skills-item">Gulp</li>
                                    <li class="skills-item">Twig</li>
                                    <li class="skills-item">Npm</li>
                                    <li class="skills-item">Git</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# Separator #}
        <div class="container">
            <hr class="separator">
        </div>

        {# Works #}
        <section id="works" class="works">
            <div class="container">
                <h2 class="works-title">
                    Ce que j'ai fait
                </h2>

                <h3 class="works-subtitle">Design</h3>

                <small class="works-small">Cliquez pour plus de détails</small>

                <div class="works-grid">
                    {% for design in designs %}
                        <a class="modal{{ design.id }} modal-js" href="#modal{{ design.id }}">
                            <img src="{{ asset('/assets/img/desktop/works/' ~ design.img) }}" alt="Design"
                                 class="works-img">
                        </a>

                        {# Modal design #}
                        <div id="modal{{ design.id }}">
                            <div class="container">
                                <div class="modal">
                                    {# Modal close has to get the same id #}
                                    <div class="close-modal{{ design.id }}">
                                        <i class="far fa-times-circle fa-3x modal-close"></i>
                                    </div>

                                    <div class="modal-content">
                                        <img src="{{ asset('/assets/img/desktop/works/' ~ design.img) }}"
                                             alt="Développement"
                                             class="modal-img">
                                        <h1 class="modal-title">{{ design.title | raw }}</h1>
                                        <p class="modal-paragraph">{{ design.description | raw | nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="works-subtitle">Développement</h3>

                <small class="works-small">Cliquez pour plus de détails</small>

                <div class="works-grid">
                    {% for development in developments %}
                        <a class="modal{{ development.id }} modal-js" href="#modal{{ development.id }}">
                            <img src="{{ asset('/assets/img/desktop/works/' ~ development.img) }}" alt="Développement"
                                 class="works-img">
                        </a>

                        {# Modal développement #}
                        <div id="modal{{ development.id }}">
                            <div class="container">
                                <div class="modal">
                                    {# Modal close has to get the same id #}
                                    <div class="close-modal{{ development.id }}">
                                        <i class="far fa-times-circle fa-3x modal-close"></i>
                                    </div>

                                    <div class="modal-content">
                                        <img src="{{ asset('/assets/img/desktop/works/' ~ development.img) }}"
                                             alt="Développement"
                                             class="modal-img">
                                        <h1 class="modal-title">{{ development.title | raw }}</h1>
                                        <p class="modal-paragraph">{{ development.description | raw | nl2br }}</p>
                                        <hr class="modal-separator">
                                        <div>
                                            <span>Accéder à la source :</span>
                                            <a href="{{ 'http://' ~ development.link }}" title="Accéder à la source"
                                               target="_blank">{{ development.link }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {# Separator #}
        <div class="container">
            <hr class="separator">
        </div>

        {# Contact #}
        <section id="contact" class="contact">
            <div class="container">
                <h2 class="contact-title">
                    Me contacter
                </h2>

                {{ form_start(form) }}
                <div class="contact-grid">
                    <div class="contact-group">
                        <span class="contact-label">{{ form_label(form.name) }}</span>
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="contact-group">
                        <span class="contact-label">{{ form_label(form.email) }}</span>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="contact-group">
                        <span class="contact-label">{{ form_label(form.subject) }}</span>
                        {{ form_widget(form.subject) }}
                    </div>
                </div>
                <div class="contact-group">
                    <span class="contact-label">{{ form_label(form.message) }}</span>
                    {{ form_widget(form.message) }}
                </div>

                <button type="submit" class="contact-submit">Contacter</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
